*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}
/* .background{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
} */
.leftBar{
    width: 500px;
    min-height: 100vh;
    position: absolute;
    bottom: 0px;
    left: 0px;

}
.left-background{
    width: auto;
    height: 100%;
    min-width: 500px;
    min-height: 100vh;
    background: black;
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    
}
.header{
    position: relative;
    top: 50;
    left: 30;
    align-items: center;
}
.header img{
    width: 180px;
    height: 180px;
    top: 50px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.header h1,h2{
    position: relative;
    top: 70px;
    color: white;
    text-align: center;
    justify-content: center;
}
.header h1{
    font-size: 65px;
}
.header h2{
    padding-top: 10px;
    font-size: 35px;
}
.footer{

    left: 15%;
    top: 60%;
    display: flex;
    position: absolute;
    padding-top: 10%;
    align-items: center;
    justify-content: space-between;
    color: white;
    
     
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    padding-right: 60px;
    
}
.col img{
    width: 60px;
    margin-right:10px;

}
.humidity, .wind, p{
    color: white;
    font-size: 22px;
    text-align: left;

}


.search{
    display: flex;
    position: absolute;
    top: 10%;
    left: 40%;
    
}
.search-bar{
    width: 300px;
    height: 40px;
    border: none;
    color: black;
    box-shadow: 5px 10px 18px #888888;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
    outline: none;

    
}
.search-btn{
    width: 160px;
    height: 40px;
    border: none;
    background-color: black;
    color: white;
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 16px;
    text-align: center;
}
/* Footer Style Code */

footer {
    background-color: rgb(31, 30, 30);
    color: #fff;
    padding: 20px;
    top: 641px;
    width: 100%;
    position: relative;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding-top: 10px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin-bottom: 20px;
    text-align: left;
}

.footer-section h2 {
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 80px;
    margin-top: -50px;
    text-align: left;
}
.footer-section p{
    font-size: 18px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}
/* Five Days Forecast Style */
.right-Bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 90px;
    margin-left: -260px;
    margin-right: 20px;
    color: white;
}
.forecast h1{
    color: black;
}
.day {
    text-align: center;
    background-color: rgb(87, 87, 87);
    padding: 10px;
    border-radius: 5px;

}

.day img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

.temperature {
    font-weight: bold;
    /* color: black; */
    text-align: center;
}
.day h4{
    margin-bottom: 10px;
    text-align: center;
}

